USE [master]
GO
/****** Object:  Database [Faktury2021]    Script Date: 02.11.2021 21:12:07 ******/
CREATE DATABASE [Faktury2021]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Faktury2021', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Faktury2021.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Faktury2021_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Faktury2021_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Faktury2021].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Faktury2021]
GO
/****** Object:  Table [dbo].[Adres]    Script Date: 02.11.2021 21:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adres](
	[IdAdresu] [int] IDENTITY(1,1) NOT NULL,
	[Miejscowosc] [nvarchar](50) NULL,
	[Ulica] [nvarchar](50) NULL,
	[NrDomu] [nvarchar](50) NULL,
	[NrLokalu] [nvarchar](50) NULL,
	[KodPocztowy] [nvarchar](50) NULL,
	[Poczta] [nvarchar](50) NULL,
	[CzyAktywny] [bit] NULL,
 CONSTRAINT [PK_Adres] PRIMARY KEY CLUSTERED 
(
	[IdAdresu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faktura]    Script Date: 02.11.2021 21:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faktura](
	[IdFaktury] [int] IDENTITY(1,1) NOT NULL,
	[Numer] [nvarchar](50) NULL,
	[DataWystawienia] [date] NULL,
	[IdKontrahenta] [int] NULL,
	[TerminPlatnosci] [date] NULL,
	[IdSposobuPlatnosci] [int] NULL,
	[CzyAktywny] [bit] NULL,
 CONSTRAINT [PK_Faktura] PRIMARY KEY CLUSTERED 
(
	[IdFaktury] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kontrahent]    Script Date: 02.11.2021 21:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kontrahent](
	[IdKontrahenta] [int] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](50) NULL,
	[Nip] [nvarchar](50) NULL,
	[Nazwa] [nvarchar](50) NULL,
	[IdRodzaju] [int] NULL,
	[IdStatusu] [int] NULL,
	[IdAdresu] [int] NULL,
	[CzyAktywny] [bit] NULL,
 CONSTRAINT [PK_Kontrahent] PRIMARY KEY CLUSTERED 
(
	[IdKontrahenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PozycjaFaktury]    Script Date: 02.11.2021 21:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PozycjaFaktury](
	[IdPozycjiFaktury] [int] IDENTITY(1,1) NOT NULL,
	[IdFaktury] [int] NULL,
	[IdTowaru] [int] NULL,
	[Cena] [decimal](18, 0) NULL,
	[Ilosc] [decimal](18, 0) NULL,
	[Rabat] [decimal](18, 0) NULL,
	[CzyAktywny] [bit] NULL,
 CONSTRAINT [PK_PozycjaFaktury] PRIMARY KEY CLUSTERED 
(
	[IdPozycjiFaktury] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rodzaj]    Script Date: 02.11.2021 21:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rodzaj](
	[IdRodzaju] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NULL,
	[CzyAktywny] [bit] NULL,
 CONSTRAINT [PK_Rodzaj] PRIMARY KEY CLUSTERED 
(
	[IdRodzaju] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SposobPlatnosci]    Script Date: 02.11.2021 21:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SposobPlatnosci](
	[IdSposobuPlatnosci] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NULL,
	[CzyAktywny] [bit] NULL,
 CONSTRAINT [PK_SposobPlatnosci] PRIMARY KEY CLUSTERED 
(
	[IdSposobuPlatnosci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 02.11.2021 21:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[IdStatusu] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NULL,
	[CzyAktywny] [bit] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[IdStatusu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Towar]    Script Date: 02.11.2021 21:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Towar](
	[IdTowaru] [int] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](50) NULL,
	[Nazwa] [nvarchar](50) NULL,
	[Cena] [decimal](18, 0) NULL,
	[StawkaVatZakupu] [decimal](18, 0) NULL,
	[StawkaVatSprzedazy] [decimal](18, 0) NULL,
	[Marza] [decimal](18, 0) NULL,
	[CzyAktywny] [bit] NULL,
 CONSTRAINT [PK_Towar] PRIMARY KEY CLUSTERED 
(
	[IdTowaru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Faktura]  WITH CHECK ADD  CONSTRAINT [FK_Faktura_Kontrahent] FOREIGN KEY([IdKontrahenta])
REFERENCES [dbo].[Kontrahent] ([IdKontrahenta])
GO
ALTER TABLE [dbo].[Faktura] CHECK CONSTRAINT [FK_Faktura_Kontrahent]
GO
ALTER TABLE [dbo].[Faktura]  WITH CHECK ADD  CONSTRAINT [FK_Faktura_SposobPlatnosci] FOREIGN KEY([IdSposobuPlatnosci])
REFERENCES [dbo].[SposobPlatnosci] ([IdSposobuPlatnosci])
GO
ALTER TABLE [dbo].[Faktura] CHECK CONSTRAINT [FK_Faktura_SposobPlatnosci]
GO
ALTER TABLE [dbo].[Kontrahent]  WITH CHECK ADD  CONSTRAINT [FK_Kontrahent_Adres] FOREIGN KEY([IdAdresu])
REFERENCES [dbo].[Adres] ([IdAdresu])
GO
ALTER TABLE [dbo].[Kontrahent] CHECK CONSTRAINT [FK_Kontrahent_Adres]
GO
ALTER TABLE [dbo].[Kontrahent]  WITH CHECK ADD  CONSTRAINT [FK_Kontrahent_Rodzaj] FOREIGN KEY([IdRodzaju])
REFERENCES [dbo].[Rodzaj] ([IdRodzaju])
GO
ALTER TABLE [dbo].[Kontrahent] CHECK CONSTRAINT [FK_Kontrahent_Rodzaj]
GO
ALTER TABLE [dbo].[Kontrahent]  WITH CHECK ADD  CONSTRAINT [FK_Kontrahent_Status] FOREIGN KEY([IdStatusu])
REFERENCES [dbo].[Status] ([IdStatusu])
GO
ALTER TABLE [dbo].[Kontrahent] CHECK CONSTRAINT [FK_Kontrahent_Status]
GO
ALTER TABLE [dbo].[PozycjaFaktury]  WITH CHECK ADD  CONSTRAINT [FK_PozycjaFaktury_Faktura] FOREIGN KEY([IdFaktury])
REFERENCES [dbo].[Faktura] ([IdFaktury])
GO
ALTER TABLE [dbo].[PozycjaFaktury] CHECK CONSTRAINT [FK_PozycjaFaktury_Faktura]
GO
ALTER TABLE [dbo].[PozycjaFaktury]  WITH CHECK ADD  CONSTRAINT [FK_PozycjaFaktury_Towar] FOREIGN KEY([IdTowaru])
REFERENCES [dbo].[Towar] ([IdTowaru])
GO
ALTER TABLE [dbo].[PozycjaFaktury] CHECK CONSTRAINT [FK_PozycjaFaktury_Towar]
GO
USE [master]
GO
